<h3>🤍Amamos lo que hacemos🤍</h3>

<blockquote class="blockquote">
    <p>"La belleza se trata de mejorar lo que ya tienes"</p>
</blockquote>

<p>En NailShop sabemos que las uñas son todo para vos! Amamos completar tu estilo y compartimos 
    la sensación de felicidad que sentís cuando mirás tus manos y las ves perfectas, porque entendemos 
    la seguridad que te transmite tu propia imagen en ese momento 🤍</p>
<p>Te ofrecemos servicios rápidos, eficaces y placenteros, coherentes con tu disponibilidad de tiempo.
    Nuestro deseo es que pases un momento agradable cuando dejes tus manos en las de nuestros profesionales 
    que están altamente capacitados para embellecer tus uñas, enseñarte a protegerlas y darte tips para cuidados especiales🤍</p>
<p>Cuántas veces saliste de tu casa, impecable… pero de golpe te das cuenta de la tragedia: se te rompió 
    una uña, tu esmalte se saltó, o mirás tus pies y te olvidaste de esmaltarlos!? Ok, stop: sea el día que sea,
    podes reservar tu servicio online y contactarnos via whatsapp para concordar prox turno disponible🤍</p>
